.date {
  font-size: 3em;
  font-family: Bevan,serif;
  color: white;
}

.opened-item {
  //display: flex;
  height: 100%;
  width: 100%;

  .display-image {
    width: 200px;
    border-radius: 8px 8px 0 0;
  }

  &.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.text-content {
    margin-top: 10px;
  }

  .display-video {
    width: fit-content;

  }
}

.longer-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px 0 10px;
}

.text {
  font-weight: 600;
  padding-left: 10px;
  padding-top: 5px;
  height: 30px;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
}
