<div class="dialog-content" *ngIf="entry">
  <h2 mat-dialog-title>{{entry?.text}}</h2>

  <img class="display-image" [class.bigger-screen]="videoPlayerWidth === 400" *ngIf="entry && entry.imageUrl" [src]="'assets/' + entry.imageUrl" />
  <div *ngIf="entry.videoUrl" class="video">
    <app-video-player [videoUrl]="entry.videoUrl" [videoHeight]="300" [videoWidth]="videoPlayerWidth"></app-video-player>
  </div>
  <div *ngIf="entry.longerText" class="longer-text" [innerHTML]="entry.longerText">
  </div>
  <mat-dialog-actions>
<!--    <button mat-button mat-dialog-close>Cancel</button>-->
<!--    &lt;!&ndash; The mat-dialog-close directive optionally accepts a value as a result for the dialog. &ndash;&gt;-->
<!--    <button mat-button [mat-dialog-close]="true">Delete</button>-->
  </mat-dialog-actions>
</div>
